---
import Layout from '../layouts/Layout.astro';

---

    <Layout>
      <section>
      <h1>Login</h1>

      <form id="login-form">

        <div class="inputs">
          <div class="input-group half">
          <label for="email">Email</label>
          <input id="email" name="email" type="email" required />
          </div>
          <div class="input-group half">
          <label for="password">Password</label>
          <input id="password" name="password" type="password" required />
          </div>
        </div>
     

        <button type="submit">Login</button>
      </form>

      <p id="message"></p>
      </section>

    </Layout>
