---
import Layout from '../layouts/Layout.astro';
---

    <Layout>
      <section>
      <h1>Login</h1>

      <form id="login-form">

        <div class="inputs">
          <div class="input-group half">
          <label for="email">Email</label>
          <input id="email" name="email" type="email" required />
          </div>
          <div class="input-group half">
          <label for="password">Password</label>
          <input id="password" name="password" type="password" required />
          </div>
        </div>
     

        <button type="submit">Login</button>
      </form>

      <p id="message"></p>
      </section>

      <script>
        import { supabase } from '../lib/supabase'

        const form = document.getElementById('login-form')
        const message = document.getElementById('message')

        form?.addEventListener('submit', async (event) => {
          event.preventDefault()

          const formData = new FormData(form)
          const email = String(formData.get('email') || '')
          const password = String(formData.get('password') || '')

          message.textContent = 'Signing in...'

          const { error } = await supabase.auth.signInWithPassword({
            email,
            password,
          })

          if (error) {
            message.textContent = error.message
            return
          }

          window.location.href = './admin/new-thought'
        })
      </script>
    </Layout>
