---
const base = import.meta.env.BASE_URL;
---

<header>
  <nav>
    <a href={base}>Thoughts</a>
    {Astro.cookies.has('auth') ? (
      <a href={`${base}logout`}>Logout</a>
    ) : (
      <a href={`${base}login`}>Login</a>
    )}
  </nav>
</header>