---
import Header from '../components/Header.astro';
import '../assets/scss/styles.scss';
import '../assets/scripts/login.js';
import '../assets/scripts/new-thought.js';
---

<!doctype html>
<html lang="en">
	<head>
		<link rel="manifest" href="/manifest.webmanifest" />
<meta name="theme-color" content="#111111" />
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="generator" content={Astro.generator} />
		<title>Thoughts</title>
		<link rel="manifest" href="/manifest.json">
<meta name="theme-color" content="#000000">
	</head>
	<body>
		<Header />
		<slot />
	</body>
</html>
