---
import Header from '../components/Header.astro';
import '../assets/scss/styles.scss';
const base = import.meta.env.BASE_URL;
---

<!doctype html>
<html lang="en">
	<head>
<meta name="theme-color" content="#111111" />
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href={`${base}favicon.svg`} />
		<meta name="generator" content={Astro.generator} />
		<title>Thoughts</title>
		<link rel="manifest" href={`${base}manifest.json`}>
<meta name="theme-color" content="#000000">
	</head>
	<body>
		<Header />
		<slot />
	</body>
</html>
