---
import Layout from "../../layouts/Layout.astro"
---
<Layout>
    <section>
      <h1>New Thought</h1>

      <form id="thought-form">
        <div class="inputs">
          <div class="input-group half">
            <label for="title">Title</label>
            <input id="title" name="title" type="text" required />
          </div>
          
          <div class="input-group half">
            <label for="pubDate">Publish date</label>
            <input id="pubDate" name="pubDate" type="date" required />
          </div>

          <div class="input-group">
            <label for="description">Meta Description</label>
            <textarea id="description" name="description" required></textarea>
          </div>
        </div>

        <div class="inputs">
          <div class="input-group">
            <label for="body">Thought text</label>
            <textarea id="body" name="body" rows="10" required></textarea>
          </div>
        </div>
       <div class="inputs">
          <div class="input-group">
            <label for="image">Optional hero image</label>
            <input id="image" name="image" type="file" accept="image/*" />
          </div>
          </div>

          <div class="inputs">
        <button type="submit">Publish</button>
        </div>
      </form>

      <p id="message"></p>
    </section>
    </Layout>